body {
  background-color: orange;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Trebuchet MS;
  background-image: url(/src/img/animebg.jpg); 
  /* backdrop-filter: blur(0.07rem); */
  background-size: cover;
  margin: 0 auto;
  padding: 0 auto;
}

.btn {
  font-size: 2rem;
  font-family: Trebuchet MS;
  border-radius: 1rem;
  padding: 0.75rem;
  border-color: blue;
}

.title {
  color: red;
  font-size:5rem;
  text-shadow: 0.2rem 0.2rem black;
  text-align:center;
}

#next-btn{
  color:green;
}

.btn-grid {
  display: flex;
  flex-direction:column;
  text-align: center;
  margin: 0rem 30rem;
}

.control {
  text-align:center;
  padding: 2rem;
  font-size: 5rem;
}

.btn:hover {
  opacity: 20%;
  transition: 200ms ease-out;
}

.questions-text {
  font-size: 5rem;
  text-align: center;
  color: white;
  text-shadow: 0.4rem 0.4rem black;
  padding: 5rem;
}